# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=323389fae37c2b24ff55821db7551021bb4862739666ec8c0462929b77d606744d17f448ea12e56f46863ad0ebd4b30672525230e5786df904867bb6775226c1
REDIS_URL=redis://localhost:6379/9
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
APIPIE_USERNAME=admin
APIPIE_PASSWORD=password
SENDING_EMAIL=change@me.com
